<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/TYPO3/CMS/QuickForm/ViewHelpers">

	<f:section name="Checkbox">
		<div class="checkbox {qf:render.hasError(property: '{property}')}">
			<label>
				<f:form.checkbox class="{property}" value="1"
				                 additionalAttributes="{autocomplete: 'off'}"
				                 disabled="disabled"
				                 checked="{qf:form.isChecked(expectedValue: '1')}"/>

				<qf:tca.fieldLabel />
			</label>
		</div>
	</f:section>
</div>
