<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/TYPO3/CMS/QuickForm/ViewHelpers">

	<f:section name="Checkbox">
		<div id="form-group-{property}" class="form-group {qf:render.hasError(property: '{property}')}">
			<label class="control-label">

			</label>
			<div class="checkbox">
				<label>
					<f:form.checkbox property="{property}" value="1"
					                 additionalAttributes="{autocomplete: 'off'}"
					                 disabled="disabled"
					                 checked="{qf:form.isChecked(expectedValue: '1')}"/>
					<qf:tca.fieldLabel/>
				</label>
			</div>
		</div>
	</f:section>
</div>
