<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/Vanilla/QuickForm/ViewHelpers">

	<f:section name="MultiChoices">
		<f:if condition="{qf:property.value()}">
			<div class="form-group {qf:property.errorClass()}">
				<label class="control-label">
					<qf:tca.fieldLabel />
				</label>
				<div>
					<f:for each="{qf:tca.items(removeEmptyValues: 'true')}" as="choiceLabel" key="choiceValue">
						<label class="checkbox-inline">
							<f:form.checkbox name="{qf:form.inputName()}" value="1"
							                 disabled="disabled"
							                 checked="{qf:form.isChecked(expectedValue: '{choiceValue}')}" />
							{choiceLabel}
						</label>
					</f:for>
				</div>
			</div>
		</f:if>
	</f:section>
</div>
