<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/Vanilla/QuickForm/ViewHelpers">

	<f:section name="RadioButtons">
		<div class="form-group {qf:property.errorClass()}">
			<label class="control-label">
				<qf:tca.fieldLabel/>
			</label>

			<div>
				<f:form.hidden property="{property}" value="{value}"/>
				<f:for each="{qf:tca.items()}" as="radioButtonLabel" key="value">
					<label class="radio-inline">
						<f:form.radio property="{property}" value="{value}" disabled="disabled"/>
						{radioButtonLabel}
					</label>
				</f:for>
			</div>
	</f:section>
</div>
