<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/Vanilla/QuickForm/ViewHelpers">

	<f:section name="Select">

		<f:if condition="{qf:property.value()}">
			<div class="form-group {qf:property.errorClass()}">
				<label for="{property}" class="control-label">
					<qf:tca.fieldLabel />
				</label>

				<f:form.select property="{property}" id="{property}"
				               disabled="disabled"
				               size="{qf:tca.selectSize()}"
				               class="form-control"
				               options="{qf:tca.items(items: '{items}', itemsDataType: '{itemsDataType}')}"/>
			</div>
		</f:if>
	</f:section>
</div>
