<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/TYPO3/CMS/QuickForm/ViewHelpers">

	<f:section name="Select">

		<f:if condition="{qf:property()}">
			<div class="form-group {qf:render.hasError(property: '{property}')}">
				<label for="{property}">
					<qf:tca.fieldLabel />
				</label>

				<f:form.select property="{property}" id="{property}"
				               disabled="disabled"
				               additionalAttributes="{autocomplete: 'off'}"
				               size="{qf:tca.selectSize()}"
				               class="form-control {qf:render.validate(property: '{property}')}"
				               options="{qf:tca.items()}"/>
			</div>
		</f:if>
	</f:section>
</div>
