<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/TYPO3/CMS/QuickForm/ViewHelpers"
     xmlns:mu="http://typo3.org/ns/TYPO3/CMS/MediaUpload/ViewHelpers">

	<f:section name="FileUpload">
		<div class="form-group {qf:render.hasError(property: '{property}')}">
			<label class="control-label">
				<qf:tca.fieldLabel/>
				<f:if condition="{qf:property.isRequired(property: '{property}')}">*</f:if>
			</label>

			<f:form.hidden property="{property}" id="{property}" />

			<f:if condition="{qf:property.value()}">
				<f:alias map="{image: '{qf:resource.file()}'}">
					<div class="item-image" style="margin-bottom: 10px">
						<f:image src="{image.uid}" width="100" height="75" alt=""
						         class="qq-thumbnail-selector"/>
						<span class="qq-upload-file-selector qq-upload-file"><small>{image.name}</small></span>
						<span class="qq-upload-size-selector qq-upload-size">{qf:math.division(a: '{image.size}', b: '1000')}kB</span>
						<a class="btn-delete-image qq-upload-delete-selector btn-small btn-warning" href="#">Delete</a>
						<a class="view-btn btn-small btn-info" target="_blank"
						   href="{image.publicUrl}">View</a>
					</div>
				</f:alias>
			</f:if>

			<mu:widget.upload allowedExtensions="jpg, png" storage="1" property="{property}" maximumItems="1"/>
		</div>
	</f:section>
</div>
