<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/TYPO3/CMS/QuickForm/ViewHelpers"
     xmlns:mu="http://typo3.org/ns/TYPO3/CMS/MediaUpload/ViewHelpers">

	<f:section name="FileUpload">
		<div class="form-group {qf:render.hasError(property: '{property}')}">
			<label class="control-label">
				<qf:tca.fieldLabel/>
				<f:if condition="{qf:property.isRequired(property: '{property}')}">*</f:if>
			</label>

			<mu:widget.upload allowedExtensions="jpg, png" storage="1" property="{property}"/>

			<f:if condition="{equipment.images}">
				<ul class="qq-upload-list-selector qq-upload-list">
					<f:for each="{equipment.images}" as="image">
						<li class="item-image qq-file-id-{image.originalResource.uid} alert alert-success">
							<f:form.hidden name="equipment[{property}][]" value="{image.originalResource.uid}"/>
							<f:image src="{image.originalResource.uid}" width="100" height="75" alt=""
							         class="qq-thumbnail-selector"/>
							<!--<span class="qq-upload-file-selector qq-upload-file"><small>{image.originalResource.name}</small></span>-->
							<span class="qq-upload-size-selector qq-upload-size">{qf:math.division(a: '{image.originalResource.size}', b: '1000')}kB</span>
							<a class="btn-delete-image qq-upload-delete-selector btn-small btn-warning" href="#">Delete</a>
							<a class="view-btn btn-small btn-info" target="_blank"
							   href="{image.originalResource.publicUrl}">View</a>
						</li>
					</f:for>
				</ul>
			</f:if>

		</div>
	</f:section>
</div>
