<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/Vanilla/QuickForm/ViewHelpers">

	<f:section name="FileUpload">

		<script>
			(function($) {
				$(function() {
					// Tooltip is an opt-in feature in TB.
					//$('#file-upload-tooltip-{property}').tooltip()
				});
			})(jQuery);
		</script>

		<div id="form-group-{property}" class="form-group {qf:property.errorClass()}">
			<label class="control-label" for="{property}">
				<qf:tca.fieldLabel />
				<f:if condition="{qf:property.isRequired(property: '{property}')}">*</f:if>

				<span id="file-upload-tooltip-{property}"
				      class="glyphicon glyphicon-question-sign"
				      data-toggle="tooltip"
				      data-placement="top"
				      title="{f:translate(key: 'file_upload_tooltip', extensionName: 'quick_form', arguments: {0: '{qf:file.maxUploadSize()}', 1: '{qd:file.allowedExtensions()}'})}"></span>

			</label>

			<input type="hidden" name="tx_mediaupload[storage]" value="{f:if(condition: '{storage}', then: '{storage}', else: '1')}" />
			<f:form.upload property="{property}" id="{property}"
			               additionalAttributes="{qf:form.additionalAttributes()}" />
		</div>
	</f:section>
</div>
