<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/Vanilla/QuickForm/ViewHelpers">

	<f:section name="HoneyPot">
		<div style="display: none;">
			<label>
				<input type="text" name="name"/>
			</label>
			<label>
				<input type="text" name="email"/>
			</label>
			<label>
				<input type="text" name="e-mail"/>
			</label>
			<label>
				<input type="text" name="phone"/>
			</label>
			<label>
				<input type="text" name="subject" value="contact form"/>
			</label>
			<label>
				<input type="text" name="subject2" value="mrof tcatnoc"/>
			</label>
		</div>
	</f:section>
</div>
