<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/Vanilla/QuickForm/ViewHelpers">

	<f:section name="MultiChoices">
		<div class="form-group {qf:property.errorClass()}">
			<label class="control-label">
				<qf:tca.fieldLabel />
				<f:if condition="{qf:property.isRequired(property: '{property}')}">*</f:if>
			</label>
			<div>
				<f:for each="{qf:tca.items(removeEmptyValues: 'true')}" as="choiceLabel" key="choiceValue">
					<label class="{f:if(condition: '{class}', then: '{class}', else: 'checkbox-inline')}">
						<f:form.checkbox name="{qf:form.inputName()}" value="{choiceValue}"
						                 additionalAttributes="{qf:form.additionalAttributes()}"
						                 checked="{qf:form.isChecked(expectedValue: '{choiceValue}')}" />
						{choiceLabel}
					</label>
				</f:for>
			</div>
		</div>
	</f:section>
</div>
