<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:qf="http://typo3.org/ns/Vanilla/QuickForm/ViewHelpers">

	<f:section name="TextArea">
		<div id="form-group-{property}" class="form-group {qf:property.errorClass()}">
			<label class="control-label" for="{property}">
				<qf:tca.fieldLabel />
				<f:if condition="{qf:property.isRequired(property: '{property}')}">*</f:if>
			</label>
			<f:form.textarea property="{property}" id="{property}"
			                 value="{qf:property.value()}"
			                 placeholder="{qf:property.placeholder()}"
			                 additionalAttributes="{qf:form.additionalAttributes()}"
			                 rows="{qf:tca.configuration(key: 'rows')}"
			                 class="form-control"/>
		</div>
	</f:section>
</div>
